// Imports
@import "vendor/reveal.min";

// Highlight Color
::selection {
  color: white;
  background: black;
}

// Responsive Images
img { max-width: 100%; height: auto; -ms-interpolation-mode:bicubic }

// Typography
.reveal .slides {
  text-align: left;
}

.reveal {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.55;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    line-height: 1em;
    margin: 0 0 .35em 0;
  }

  h2 {
    font-size: 1.75em;
  }

  p {
    font-weight: 700;
  }

  ul {
    font-size: .85em;
    list-style-type: none;
    margin-bottom: .5em;
  }

}

// Intro Slide
.intro-slide img {
  display: block;
  margin: auto;
}

// Partners Slide
.partners {
  text-align: center;

  h2 {
    text-align: center;
  }

  img {
    max-width: 280px;
    max-height: 180px;
    vertical-align: middle;
    padding: 1em;
  }

}
